<div class="player-header">
  <img class="player-list_photo" [src]='player.photo'>
  <div>
    <p>{{player.short_name}}</p>
    <p *ngFor="let pos of player.pref_position">{{pos}}</p>
    <p>{{player.overall}}</p>
    <p>{{playerPrices[player.overall]}}€</p>
  </div>
</div>
<div>
  <p>Pierna hábil: {{player.preferred_foot}}</p>
  <p>{{player.weak_foot}}&#9733; Pierna mala</p>
  <p>{{player.skill_moves}}&#9733; Filigranas</p>
  <p>Rendimiento: {{player.attacking_WR}}/{{player.defensive_WR}}</p>
  <p>Tipo de cuerpo: {{player.body_type}}</p>
  <p>Cara real: {{player.real_face}}</p>
  <p>Club Actual: {{player.current_club}}</p>

</div>


<div class="grid-container">
  <div class="attributes_block">
    <p>OFENSIVA</p>
    <ul>
      <li>{{player.crossing}}</li>
      <li>{{player.finishing}}</li>
      <li>{{player.heading_accuracy}}</li>
      <li>{{player.short_passing}}</li>
      <li>{{player.volleys}}</li>
    </ul>
  </div>
  <div class="attributes_block">
    <p>TÉCNICA</p>
    <ul>
      <li>{{player.dribbling}}</li>
      <li>{{player.curve}}</li>
      <li>{{player.free_kick}}</li>
      <li>{{player.long_passing}}</li>
      <li>{{player.ball_control}}</li>
    </ul>
  </div>
  <div class="attributes_block">
    <p>MOVIMIENTO</p>
    <ul>
      <li>{{player.acceleration}}</li>
      <li>{{player.sprint}}</li>
      <li>{{player.agility}}</li>
      <li>{{player.reactions}}</li>
      <li>{{player.balance}}</li>
    </ul>
  </div>
  <div class="attributes_block">
    <p>POTENCIA</p>
    <ul>
      <li>{{player.shot_power}}</li>
      <li>{{player.jumping}}</li>
      <li>{{player.stamina}}</li>
      <li>{{player.strength}}</li>
      <li>{{player.long_shot}}</li>
    </ul>
  </div>
  <div class="attributes_block">
    <p>MENTALIDAD</p>
    <ul>
      <li>{{player.aggression}}</li>
      <li>{{player.interceptions}}</li>
      <li>{{player.positioning}}</li>
      <li>{{player.vision}}</li>
      <li>{{player.penalties}}</li>
      <li>{{player.composure}}</li>
  
    </ul>
  </div>
  <div class="attributes_block">
    <p>DEFENSA</p>
    <ul>
      <li>{{player.defense_awareness}}</li>
      <li>{{player.standing_tackle}}</li>
      <li>{{player.sliding_tackle}}</li>
    </ul>
  </div>
  <div class="attributes_block">
    <p>PORTERO</p>
    <ul>
      <li>{{player.gk_diving}}</li>
      <li>{{player.gk_handling}}</li>
      <li>{{player.gk_kicking}}</li>
      <li>{{player.gk_positioning}}</li>
      <li>{{player.gk_reflexes}}</li>
    </ul>
  </div>
  <div class="attributes_block">
    <p>RASGOS</p>
    <ul>
      <li *ngFor="let trait of player.traits">{{trait}}</li>
    </ul>
  </div>
</div>